html, body {
    height:100%;
}

h1  {
     text-align: center;
     background-color: grey; 
	 opacity: 0.75; 
}

h2  {
     text-align: center;
     background-color: yellow; 
	 opacity: 0.75; 
}

header  {
	 background-color: grey; 
	 opacity: 0.75; 
}


body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0;
    background-image: url("write2.jpg");
    /* opacity: 0.75; */
}

table  {
     background-color: yellow; 
	 opacity: 0.75; 
}

#main   {    

    flex: 7;
    display: flex;
  /*  height: 100%; */
    justify-content: center ;
    align-items: flex-start;
 
}


form {
   
    text-align: center
    justify-content: center;
    align-items: center;

}


footer  {
	background-color: grey;
    opacity: 0.75; 
    text-align: center;
    justify-content: center;
    display: flex;
}
